# EDA
## Dataset: Census

In [102]:
!pip install pandas_profiling -q

In [103]:
import pandas as pd
import pandas_profiling
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt

In [116]:
raw_data_file = '../starter/data/census.csv'
df = pd.read_csv(raw_data_file)
df.columns = df.columns.str.replace(' ', '')
df = df.drop_duplicates()

In [117]:
df.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [123]:
type(df['sex'])

pandas.core.series.Series

In [128]:
# df['sex'] != "Female"
sliced = pd.DataFrame(df[df.sex == pd.Series("Female")])
#df = df[df.rebounds != 7]

ValueError: Can only compare identically-labeled Series objects

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32537 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32537 non-null  int64
 1   workclass       32537 non-null  object
 2   fnlgt           32537 non-null  int64
 3   education       32537 non-null  object
 4   education-num   32537 non-null  int64
 5   marital-status  32537 non-null  object
 6   occupation      32537 non-null  object
 7   relationship    32537 non-null  object
 8   race            32537 non-null  object
 9   sex             32537 non-null  object
 10  capital-gain    32537 non-null  int64
 11  capital-loss    32537 non-null  int64
 12  hours-per-week  32537 non-null  int64
 13  native-country  32537 non-null  object
 14  salary          32537 non-null  object
dtypes: int64(6), object(9)
memory usage: 4.0+ MB

In [121]:
sliced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10762 entries, 4 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             10762 non-null  int64
 1   workclass       10762 non-null  object
 2   fnlgt           10762 non-null  int64
 3   education       10762 non-null  object
 4   education-num   10762 non-null  int64
 5   marital-status  10762 non-null  object
 6   occupation      10762 non-null  object
 7   relationship    10762 non-null  object
 8   race            10762 non-null  object
 9   sex             10762 non-null  object
 10  capital-gain    10762 non-null  int64
 11  capital-loss    10762 non-null  int64
 12  hours-per-week  10762 non-null  int64
 13  native-country  10762 non-null  object
 14  salary          10762 non-null  object
dtypes: int64(6), object(9)
memory usage: 1.3+ MB

In [6]:
profile = pandas_profiling.ProfileReport(df)

#### The browser width may have to be extended to view the report.

In [7]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

#### Save the report as an html file.

In [8]:
prof = ProfileReport(df)
prof.to_file(output_file='output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]